.App {
  text-align: center;
}

html {
 color:black;
}
body{
  background-color:pink;
}
.card-content{
  background-color: rgb(253, 244, 246);
}
.card .card-image .card-title{
  color:black;
}
.modal.modal-fixed-footer{
  height:100%;
}
.card.small {
  height: 450px;
}

.input-field {
  position: relative;
  margin-top: 1rem;
}
.modal .modal-content {
  padding: 10px;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 2rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}
.modal {
  max-height: 88%;
}
.toast{
  background-color:rebeccapurple;
}